.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(var(--light-blue), 1);
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.container:hover {
  background-color: rgba(var(--purple), 0.25);
}

:global(body.dark-mode) .container {
  background-color: rgba(var(--charcoal), 1);
}

:global(body.dark-mode) .container:hover {
  background-color: rgba(var(--purple), 0.25);
}

.input {
  display: none;
}

.label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.checkedLabel {
  text-decoration: line-through;
  color: rgba(var(--blue-gray), 1);
}

:global(body.dark-mode) .checkedLabel {
  color: rgba(var(--blue-gray), 1);
}

.customCheckBox {
  background-color: white;
  height: 16px;
  width: 16px;
  margin-right: 16px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

:global(body.dark-mode) .customCheckBox {
  background-color: rgba(var(--dark-gray), 1);
}

.checked {
  background-color: rgba(var(--purple), 1);
}

:global(body.dark-mode) .checked {
  background-color: rgba(var(--purple), 1);
}
