.container {
  background-color: rgba(var(--light-gray), 1);
  min-height: 100svh;
}

.header {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 16px;
}

.button {
  background-color: rgba(var(--purple), 1);
  padding: 10px 18px;
  border: none;
  outline: none;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pipButton {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
}
