.container {
  background-color: rgba(var(--light-blue), 1);
  min-height: 100svh;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.header {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 16px;
  height: 80px;
}

.brandText {
  display: none;
}

.button {
  background-color: rgba(var(--purple), 1);
  padding: 10px 18px;
  border: none;
  outline: none;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.buttonText {
  display: none;
}

.pipButton {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 760px) {
  .brandText {
    display: block;
  }

  .brandContainer {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 244px;
    border-right: 1px solid rgba(var(--light-gray));
    padding: 28px 24px;
  }

  .button {
    display: none;
  }

  .buttonText {
    display: block;
    background-color: rgba(var(--purple), 1);
    padding: 10px 18px;
    border: none;
    outline: none;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
  }
}
