.container {
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding: 14px 24px;
  border-radius: 0 100px 100px 0;
  width: 240px;
  cursor: pointer;
  outline: none;
  border: none;
}

:global(body.dark-mode) .container {
  background-color: rgba(var(--dark-gray), 1);
}

.active {
  background-color: rgba(var(--purple), 1);
}

:global(body.dark-mode) .active {
  background-color: rgba(var(--purple), 1);
}

.text {
  color: rgba(var(--blue-gray), 1);
}

:global(body.dark-mode) .text {
  color: rgba(var(--blue-gray), 1);
}

.container.active .text {
  color: white;
}
