.container {
  position: fixed;
  width: 260px;
  background-color: white;
  border-right: 1px solid rgba(var(--light-gray), 1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  top: 79px;
  bottom: 0;
  transform: translateX(-300px);
  transition: transform 0.2s ease;
  padding-bottom: 32px;
  display: none;
}

:global(body.dark-mode) .container {
  background-color: rgba(var(--dark-gray), 1);
  border-right: 1px solid rgba(var(--mid-gray), 1);
}

.visible {
  transform: translateX(0);
}

.innerContainer {
  width: 100%;
}

.hideSidebarBtn {
  background-color: white;
  border: none;
  padding: 20px 24px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgba(var(--blue-gray), 1);
  font-weight: bold;
}

:global(body.dark-mode) .hideSidebarBtn {
  background-color: rgba(var(--dark-gray));
  color: rgba(var(--blue-gray));
}

.openSidebar {
  position: fixed;
  bottom: 32px;
  left: 0;
  background-color: rgba(var(--purple));
  transform: translateX(300px);
  transition: 0.2s;
  border: none;
  padding: 20px;
  border-radius: 0 100px 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hideButton {
  transform: translateX(-300px);
}

@media screen and (min-width: 760px) {
  .container {
    display: flex;
  }
}
