* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: black;
}

body.dark-mode * {
  color: white;
}

:root {
  --purple: 99, 95, 199; /* #635fc7 */
  --violet: 168, 164, 255; /* #a8a4ff */
  --black: 0, 1, 18; /* #000112 */
  --charcoal: 32, 33, 44; /* #20212c */
  --dark-gray: 43, 44, 55; /* #2b2c37 */
  --mid-gray: 62, 63, 78; /* #3e3f4e */
  --blue-gray: 130, 143, 163; /* #828fa3 */
  --light-gray: 228, 235, 250; /* #e4ebfa */
  --light-blue: 244, 247, 253; /* #f4f7fd */
  --red: 234, 85, 85; /* #ea5555 */
  --pink: 255, 152, 152; /* #ff9898 */
}

.heading-xl {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.25;
}

.heading-lg {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.27;
}

.heading-md {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.27;
}

.heading-sm {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: 0.33rem;
}

.text-lg {
  font-weight: normal;
  font-size: 1.08rem;
  line-height: 1.78rem;
}

.text-md {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.25;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
