* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  color: rgb(220, 220, 220);
}

:root {
  --proposed: rgb(60, 40, 40);
  --active: rgb(40, 60, 40);
  --review: rgb(40, 40, 60);
  --complete: rgb(50, 50, 50);
}

.kanbanBoard {
}

.bg-proposed {
  background-color: var(--proposed);
}

.bg-active {
  background-color: var(--active);
}

.bg-review {
  background-color: var(--review);
}

.bg-complete {
  background-color: var(--complete);
}
